<div class="list-group">
  <a href="/" class="list-group-item list-group-item-action active" aria-current="true">
    Home
  </a>
  {{#if (isSuperAdmin session)}}
  <a href="/admin/users" class="list-group-item list-group-item-action">Users</a>
  {{/if}}
  
  <a href="/admin/booking" class="list-group-item list-group-item-action">Booking</a>
  <a href="/admin/cars" class="list-group-item list-group-item-action " tabindex="-1" aria-disabled="true">Cars</a>
  <a href="/admin/contact-us" class="list-group-item list-group-item-action">Contact</a>
  <a href="/admin/testimonial" class="list-group-item list-group-item-action">Testimonials</a>
 
</div>