{{>header}}
<title>Cental - Car Rent | About Us</title>
{{>navbar}}
{{>hero}}
<div class="container-fluid my-3" >
    <div class="col-md-3">
      {{>sidebar}}
    </div>
    <div class="col-md-9">

    </div>
</div>
{{>footer}}